.posts {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin: 15px;
    margin-left: 50px;
    padding: 10px;
    width: 50vw;
}

.bottom {
    display: flex;
    justify-content: space-around;
}