{% extends 'main.html' %}
{% block content %}
<h1>Following</h1>
{% for i in follower.following.all %}
<ul class="list-group">
  <li class="list-group-item">
  {% for i in i.profile_set.all %}
  
  <img
    src="{{i.profile_pic.url}}"
    width="32"
    height="32"
    class="rounded-circle"
  />
  {{i.username}} {% endfor %}
  {% for f in i.followers_set.all %}
  <span class="mx-1">{{f.following.all|length}} Following</span>
  {% if request.user in f.following.all %}
  <a href="{% url 'follow' i.id f.id %}" class="btn btn-sm btn-light text-danger border-danger">Following</a>
  {% else %}
  <a href="{% url 'follow' i.id f.id %}" class="btn btn-sm btn-danger">Follow</a>
  {% endif %}
  {% empty %}
  <span class="mx-1">0 Follower</span>
  <a href="{% url 'temp' i.id  %}" class="btn btn-sm btn-danger">Follow</a>
  {% endfor %}
  
  </li>
</ul>
{% endfor %}

{% endblock content %}