<header class="p-3 mb-3 border-bottom bg-warning text-dark">
  <div class="container">
    
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-end"
  >

      <div class="dropdown text-end ">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {% for i in request.user.profile_set.all %}
          <img
            src="{{i.profile_pic.url}}"
            width="32"
            height="32"
            class="rounded-circle"
          />
          <strong>{{request.user}} </strong>{% endfor %}
        </a>
        <ul class="dropdown-menu text-small" style="">
          <li><p class="dropdown-item">Hi {{request.user}}</p></li>
          <li>
            <a class="dropdown-item" href="{% url 'profile' request.user.id %}"
              >Profile</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li><a href="{% url 'logout' %}" class="dropdown-item">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>



