{% extends 'main.html' %}
{% block navbar %}{% endblock navbar %}
{% block content %}
<h1 class="text-center text-primary">Registration Form</h1>
<div class="container col-6">
<form method="post">
{% csrf_token %}
{% load crispy_forms_tags %}

{{form|crispy}}
<button type="submit" class="btn btn-primary">Register</button>
<a href="{% url 'login' %}" class="text-decoration-none text-dark"> already a user then Sign in </a>
</form>
</div>
{% endblock content %}

{% block sidebar %}{% endblock sidebar %}
{% block rightbar %}{% endblock rightbar %}